version: "2"

services:
    app:
        links:
            - elasticsearch
            - db
            - memcached
        volumes:
            - .:/app
            - "~/.composer:/root/.composer"
        expose:
            - "9001"
        extra_hosts:
            - "opt.local:127.0.0.1"
            - "corporate.opt.local:127.0.0.1"
        environment:
            - XDEBUG_CONFIG=remote_host=172.16.36.16

    # Nginx container.
    nginx:
        image: nginx
        container_name: opt_nginx
        depends_on:
            - app
        links:
            - app
        ports:
            - "80:80"
            - "443:443"
        volumes_from:
            - app:ro
        volumes:
            - "./docker/nginx.conf:/etc/nginx/nginx.conf"
            - "./docker/.htpasswd:/etc/nginx/.htpasswd"
            - "./docker/certificates/ssl-cert-snakeoil.pem:/etc/ssl/certs/ssl-cert-snakeoil.pem"
            - "./docker/certificates/ssl-cert-snakeoil.key:/etc/ssl/private/ssl-cert-snakeoil.key"

    # Database container.
    db:
        image: postgres:9.5
        container_name: opt_postgres
        environment:
            POSTGRES_PASSWORD: root
        ports:
            - "5432:5432"

    # Memcached container.
    memcached:
        image: memcached:alpine
        container_name: opt_memcached
        ports:
            - "11211:11211"

    # Elasticsearch container.
    # The "vm.max_map_count" kernel setting needs to be set to at least 262144.
    # sudo sysctl -w vm.max_map_count=262144
    # @see https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html#docker-cli-run-prod-mode
    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:5.6.4
        container_name: opt_elasticsearch
        ulimits:
          memlock:
            soft: -1
            hard: -1
        environment:
          - cluster.name=docker-opt-cluster
          - bootstrap.memory_lock=true
          - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
        ports:
            - "9200:9200"

    # Mailhog container.
    mailhog:
        container_name: opt_mailhog
        image: mailhog/mailhog
        ports:
          - "1025:1025"
          - "8025:8025"
